<?xml version="1.0" encoding="utf-8"?>
<Config>
  <DestinationDirectory>D:\Backups</DestinationDirectory>
  <RetentionDays>14</RetentionDays>
  <Source Name="Documents">
    <SourceDirectory>C:\Users\Ethan\Documents</SourceDirectory>
    <ExcludeDirectories>
      <Dir>My Videos</Dir>
      <Dir>My Music</Dir>
      <Dir>My Pictures</Dir>
      <Dir/>
    </ExcludeDirectories>
    <ExcludeFiles>
      <File>desktop.ini</File>
      <File>always-on-top.exe</File>
      <File/>
    </ExcludeFiles>
    <DestinationName>Documents</DestinationName>
  </Source>
  <Source Name="AppData">
    <SourceDirectory>C:\Users\Ethan\AppData</SourceDirectory>
    <ExcludeDirectories>
      <Dir>Application Data</Dir>
      <Dir>atom</Dir>
      <Dir>Temporary Internet Files</Dir>
      <Dir>Spotify</Dir>
      <Dir>Temp</Dir>
      <Dir>Adobe</Dir>
      <Dir>CEF</Dir>
      <Dir>CrashDumps</Dir>
      <Dir>Microsoft*</Dir>
      <Dir>NVIDIA*</Dir>
      <Dir>Packages*</Dir>
      <Dir>uTorrent</Dir>
      <Dir>npm*</Dir>
      <Dir>Python</Dir>
    </ExcludeDirectories>
    <ExcludeFiles>
      <File/>
    </ExcludeFiles>
    <DestinationName>AppData</DestinationName>
  </Source>
</Config>
